<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>show the student details</h1>
        <table border="4px">
            <tr>
                <th>sid</th>
                <th>sname</th>
                <th>branch</th>
                <th>deptno</th>
            </tr>
            {% for s in stu %}
            <tr>
                <td>{{ s.sid }}</td>
                <td>{{ s.sname }}</td>
                <td>{{ s.branch }}</td>
                <td>{{ s.deptno}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>